name: Backend Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/apps/qr-backend
            git pull origin main
            docker build -t backend-app .
            docker stop backend-app || true
            docker rm backend-app || true
            docker run -d -p 4000:4000 --env-file .env --name backend-app backend-app